#show-settings-view {
    position: absolute;
    bottom: 30px;
}

.settings-button-disabled {
    color: #746a4d;
    cursor: default;
}

#settings-wrapper {
    position: absolute;
    top: 30px;
    left: -235px;
    width: 60%;
    height: 100%;
}

.sidebar-full #settings-wrapper {
    left: 25px;
}

.settings-section-header {
    font-family: helvetica;
    font-size: 13pt;
    width: 100%;
    letter-spacing: .09em;
    border-bottom: solid 2px #5a5440;
    color: #ab9e73;
    margin: 30px 0 25px 0;
    padding-left: 5px;
    box-sizing: border-box;
}

.settings-text-input {
    width: 100%;
    background: transparent;
    color: #b1aa92;
    border: none;
    border-bottom: solid 1px #555;
    font-size: 10pt;
    margin-bottom: 35px;
    padding: 0 6px 5px 6px;
    box-sizing: border-box;
    outline: none;
    transition-duration: .05s;
}

.settings-text-label {
    position: absolute;
    transform: translate(5px, 4px);
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 9pt !important;
    color: #999;
    font-size: 10pt;
    font-family: helvetica;
    font-weight: 350;
    pointer-events: none;
    -webkit-user-select: none;
    transition-duration: .05s;
}

.settings-text-input:focus, .settings-text-input-active {
    border-bottom-color: #6f633d;
    transition-duration: .05s;
}

.settings-input-checkbox {
    display: flex;
    align-items: center;
}

.settings-input:focus-within .settings-text-label, .settings-text-label-active {
    font-size: 8pt !important;
    font-weight: 800 !important;
    transform: translate(0, -13px);
    color: #77715b;
    transition-duration: .05s;
}

.settings-checkbox {
    font-size: 14pt;
    text-align: center;
    color: #716b56;
    width: 20%;
    cursor: pointer;
}

.settings-checkbox-label {
    font-family: helvetica;
    font-size: 10pt;
    letter-spacing: 1px;
    font-weight: 4000;
    color: #8a8575;
    width: 80%;
    cursor: pointer;
}

.settings-input-invalid {
    color: #b78d8d !important;
    border-bottom: solid 2px #633d3d !important;
}

.settings-input-label-invalid {
    color: #713d3d !important;
}
