#settings-wrapper {
    position: absolute;
    top: 30px;
    left: -235px;
    width: 60%;
    height: 100%;
}

.sidebar-full #settings-wrapper {
    left: 25px;
}

.settings-section-title {
    font-family: helvetica;
    font-size: 13pt;
    width: 100%;
    letter-spacing: .09em;
    border-bottom: solid 2px #C0B283;
    color: #C0B283;
    margin-bottom: 35px;
}

.settings-input {
    width: 100%;
    background: transparent;
    color: #C0B283;
    border: none;
    border-bottom: solid 1px #555;
    font-size: 10pt;
    margin-bottom: 35px;
    padding: 0 6px 5px 6px;
    box-sizing: border-box;
}

.settings-label {
    position: absolute;
    color: #999;
    font-size: 10pt;
    font-family: helvetica;
    font-weight: 350;
}

.settings-input:focus, .settings-input-active {
    border-bottom-color: #C0B283;
    transition-duration: .1s;
}

.settings-row:focus-within .settings-label,
.settings-label-active {
    font-size: 8pt;
    font-weight: 800 !important;
    transform: translate(0, -13px);
    color: #C0B283;
    transition-duration: .1s;
}

#save-settings {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    border: solid 1px #C0B283;
    outline: none;
    color: #C0B283;
    font-family: helvetica;
    font-size: 10pt;
    font-weight: 600;
    letter-spacing: .06em;
    cursor: pointer;
}

#save-settings:active {
    background: #C0B283;
    color: #0A0A0A;
    font-weight: 800 !important;
    box-sizing: border-box;
}
