#sidebar {
    height: 100%;
    width: 65px;
    min-width: 65px;
    background: #0A0A0A;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    float: left;
}

#sidebar-options {
    height: 100%;
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1 !important;
}

.sidebar-button {
    color: #C0B283;
    background: none;
    outline: none;
    font-size: 20pt;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

.sidebar-button:active {
    opacity: .5;
}

#titlebar {
    width: 100%;
    height: 20px;
    background: #0A0A0A;
    position: fixed;
    -webkit-app-region: drag;
    border-bottom: solid 1px rgba(255, 255, 255, 0.26);
}

.option-selected {
    transition-duration: .3s;
    color: #0A0A0A;
}

#option-selector {
    width: 33px;
    height: 28px;
    position: absolute;
    top: -1000px;
    background: #C0B283;
    border-radius: 5px;
    z-index: 0 !important;
}
