#message-prompt {
    opacity: 0;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #0A0A0A;
    padding: 25px 35px 25px 35px;
    height: auto;
    width: auto;
    color: white;
    font-family: helvetica;
    font-size: 11pt;
    letter-spacing: .06em;
}

#mutate-prompt {
    background: #0A0A0A;
    position: absolute;
    top: -500px;
    left: -500px;
    padding: 0;
    margin: 0;
    width: 290px;
    height: 170px;
}

.mutate-prompt-button {
    background: transparent;
    display: block;
    width: 100%;
    height: 50%;
    color: #C0B283;
    font-family: helvetica;
    font-size: 13pt;
    letter-spacing: .06em;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
}

.mutate-prompt-button:hover {
    background: #4A4A4A;
}
